In [92]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [93]:
#Loading the dataset
data=pd.read_csv('raw_data.csv')
data

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,$46476.6380809961,529.0
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,$54174.6879482406,720.0
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,UAS,NaN,234.0
3,204.0,Graeme Croisier,9/29/2018,NaN,Male,Accenture,Canada,$46784.6308786279,657.0
4,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,NaN,$57486.4955595568,1947.0
5,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,$,952.0
6,207.0,Modesta Batterson,3/28/2018,NaN,Female,Intel,India,NaN,32.0
7,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,NaN,1901.0
8,209.0,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,UAS,$28602.4353770562,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,$47119.1747795038,920.0
11,212.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,NaN,NaN,1286.0
12,213.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,$55804.9256874294,NaN
13,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,$44191.4731284524,46.0
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,$,568.0
15,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,$44481.7651905881,1553.0
16,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,$55719.9621570482,1013.0
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,$33767.5099948119,1920.0
18,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,$7101.35196996979,1952.0
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,$43363.0787072359,1668.0

In [94]:
#checking null values
data.isna().sum()

id                    1
Employee Full Name    1
DOB                   1
email                 3
gender                1
Company               1
Country               3
Income.1              5
Income.2              3
dtype: int64

In [95]:
#checking for row number 9
data.iloc[9]

id                    NaN
Employee Full Name    NaN
DOB                   NaN
email                 NaN
gender                NaN
Company               NaN
Country               NaN
Income.1              NaN
Income.2              NaN
Name: 9, dtype: object

In [96]:
#replcaing the null value of row 9
data.iloc[9]=[210,'Jim Carry','1/1/1970','jim.carry@gmail.com','Male','Amazone','USA',12349.556,3652]

In [97]:
#replacing the null value of column email row 3
data.loc[3, 'email'] = 'graeme.croisier@gmail.com'

In [98]:
#replacing the null value of column email row 9
data.loc[6, 'email'] = 'modesta.batterson@gmail.com'

In [99]:
data

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,$46476.6380809961,529.0
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,$54174.6879482406,720.0
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,UAS,NaN,234.0
3,204.0,Graeme Croisier,9/29/2018,graeme.croisier@gmail.com,Male,Accenture,Canada,$46784.6308786279,657.0
4,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,NaN,$57486.4955595568,1947.0
5,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,$,952.0
6,207.0,Modesta Batterson,3/28/2018,modesta.batterson@gmail.com,Female,Intel,India,NaN,32.0
7,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,NaN,1901.0
8,209.0,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,UAS,$28602.4353770562,NaN
9,210.0,Jim Carry,1/1/1970,jim.carry@gmail.com,Male,Amazone,USA,12349.556,3652.0
10,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,$47119.1747795038,920.0
11,212.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,NaN,NaN,1286.0
12,213.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,$55804.9256874294,NaN
13,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,$44191.4731284524,46.0
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,$,568.0
15,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,$44481.7651905881,1553.0
16,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,$55719.9621570482,1013.0
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,$33767.5099948119,1920.0
18,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,$7101.35196996979,1952.0
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,$43363.0787072359,1668.0

In [100]:
#replacing usa with usa
data['Country']=data['Country'].replace('UAS','USA')

In [101]:
#so we can see that we have changed uas to usa
data

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,$46476.6380809961,529.0
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,$54174.6879482406,720.0
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,USA,NaN,234.0
3,204.0,Graeme Croisier,9/29/2018,graeme.croisier@gmail.com,Male,Accenture,Canada,$46784.6308786279,657.0
4,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,NaN,$57486.4955595568,1947.0
5,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,$,952.0
6,207.0,Modesta Batterson,3/28/2018,modesta.batterson@gmail.com,Female,Intel,India,NaN,32.0
7,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,NaN,1901.0
8,209.0,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,USA,$28602.4353770562,NaN
9,210.0,Jim Carry,1/1/1970,jim.carry@gmail.com,Male,Amazone,USA,12349.556,3652.0
10,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,$47119.1747795038,920.0
11,212.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,NaN,NaN,1286.0
12,213.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,$55804.9256874294,NaN
13,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,$44191.4731284524,46.0
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,$,568.0
15,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,$44481.7651905881,1553.0
16,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,$55719.9621570482,1013.0
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,$33767.5099948119,1920.0
18,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,$7101.35196996979,1952.0
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,$43363.0787072359,1668.0

In [102]:
#checking value counts
data['Country'].value_counts()

India     7
USA       5
Canada    3
Russia    3
Name: Country, dtype: int64

In [103]:
#replacing the null values of column country
data['Country']=data['Country'].fillna(data['Country'].mode()[0])

In [104]:
#repalcing the null values using mode
data

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,$46476.6380809961,529.0
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,$54174.6879482406,720.0
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,USA,NaN,234.0
3,204.0,Graeme Croisier,9/29/2018,graeme.croisier@gmail.com,Male,Accenture,Canada,$46784.6308786279,657.0
4,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,India,$57486.4955595568,1947.0
5,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,$,952.0
6,207.0,Modesta Batterson,3/28/2018,modesta.batterson@gmail.com,Female,Intel,India,NaN,32.0
7,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,NaN,1901.0
8,209.0,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,USA,$28602.4353770562,NaN
9,210.0,Jim Carry,1/1/1970,jim.carry@gmail.com,Male,Amazone,USA,12349.556,3652.0
10,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,$47119.1747795038,920.0
11,212.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,India,NaN,1286.0
12,213.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,$55804.9256874294,NaN
13,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,$44191.4731284524,46.0
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,$,568.0
15,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,$44481.7651905881,1553.0
16,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,$55719.9621570482,1013.0
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,$33767.5099948119,1920.0
18,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,$7101.35196996979,1952.0
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,$43363.0787072359,1668.0

In [105]:
#repalcing the dollar sign to blank space
data['Income.1']=data['Income.1'].str.replace('$','')

In [106]:
#so we can see that dollar sign have been repplaced
data

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,46476.6380809961,529.0
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,54174.6879482406,720.0
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,USA,NaN,234.0
3,204.0,Graeme Croisier,9/29/2018,graeme.croisier@gmail.com,Male,Accenture,Canada,46784.6308786279,657.0
4,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,India,57486.4955595568,1947.0
5,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,,952.0
6,207.0,Modesta Batterson,3/28/2018,modesta.batterson@gmail.com,Female,Intel,India,NaN,32.0
7,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,NaN,1901.0
8,209.0,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,USA,28602.4353770562,NaN
9,210.0,Jim Carry,1/1/1970,jim.carry@gmail.com,Male,Amazone,USA,NaN,3652.0
10,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,47119.1747795038,920.0
11,212.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,India,NaN,1286.0
12,213.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,55804.9256874294,NaN
13,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,44191.4731284524,46.0
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,,568.0
15,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,44481.7651905881,1553.0
16,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,55719.9621570482,1013.0
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,33767.5099948119,1920.0
18,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,7101.35196996979,1952.0
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,43363.0787072359,1668.0

In [107]:
#repalcing the blank spaces with  null values
data['Income.1']=data['Income.1'].replace('',np.nan)

In [108]:
#we can see that blank spaces have been repalced with null values
data

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,46476.6380809961,529.0
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,54174.6879482406,720.0
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,USA,NaN,234.0
3,204.0,Graeme Croisier,9/29/2018,graeme.croisier@gmail.com,Male,Accenture,Canada,46784.6308786279,657.0
4,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,India,57486.4955595568,1947.0
5,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,NaN,952.0
6,207.0,Modesta Batterson,3/28/2018,modesta.batterson@gmail.com,Female,Intel,India,NaN,32.0
7,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,NaN,1901.0
8,209.0,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,USA,28602.4353770562,NaN
9,210.0,Jim Carry,1/1/1970,jim.carry@gmail.com,Male,Amazone,USA,NaN,3652.0
10,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,47119.1747795038,920.0
11,212.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,India,NaN,1286.0
12,213.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,55804.9256874294,NaN
13,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,44191.4731284524,46.0
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,NaN,568.0
15,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,44481.7651905881,1553.0
16,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,55719.9621570482,1013.0
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,33767.5099948119,1920.0
18,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,7101.35196996979,1952.0
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,43363.0787072359,1668.0

In [109]:
#we can see that Income.1 data type is showing as object because dollar sign was present in it
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  20 non-null     float64
 1   Employee Full Name  20 non-null     object
 2   DOB                 20 non-null     object
 3   email               20 non-null     object
 4   gender              20 non-null     object
 5   Company             20 non-null     object
 6   Country             20 non-null     object
 7   Income.1            13 non-null     object
 8   Income.2            18 non-null     float64
dtypes: float64(2), object(7)
memory usage: 1.5+ KB

In [110]:
#So changing the data type to float
data['Income.1']=data['Income.1'].astype(float)

In [111]:
#so we can see that data type have been changed to float
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  20 non-null     float64
 1   Employee Full Name  20 non-null     object
 2   DOB                 20 non-null     object
 3   email               20 non-null     object
 4   gender              20 non-null     object
 5   Company             20 non-null     object
 6   Country             20 non-null     object
 7   Income.1            13 non-null     float64
 8   Income.2            18 non-null     float64
dtypes: float64(3), object(6)
memory usage: 1.5+ KB

In [112]:
#replacing the null value with mean
data['Income.1']=data['Income.1'].fillna(data['Income.1'].mean())

In [113]:
#replacing the null value with mean
data['Income.2']=data['Income.2'].fillna(data['Income.2'].mean())

In [114]:
#so we can see that null values have been replaced of columns Income.1 and Income.2
data

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,46476.638081,529.000000
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,54174.687948,720.000000
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,USA,43467.240728,234.000000
3,204.0,Graeme Croisier,9/29/2018,graeme.croisier@gmail.com,Male,Accenture,Canada,46784.630879,657.000000
4,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,India,57486.495560,1947.000000
5,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,43467.240728,952.000000
6,207.0,Modesta Batterson,3/28/2018,modesta.batterson@gmail.com,Female,Intel,India,43467.240728,32.000000
7,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,43467.240728,1901.000000
8,209.0,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,USA,28602.435377,1197.222222
9,210.0,Jim Carry,1/1/1970,jim.carry@gmail.com,Male,Amazone,USA,43467.240728,3652.000000
10,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,47119.174780,920.000000
11,212.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,India,43467.240728,1286.000000
12,213.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,55804.925687,1197.222222
13,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,44191.473128,46.000000
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,43467.240728,568.000000
15,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,44481.765191,1553.000000
16,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,55719.962157,1013.000000
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,33767.509995,1920.000000
18,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,7101.351970,1952.000000
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,43363.078707,1668.000000

In [115]:
#adding column Total column to the datafram which is a sum of Income.1 and Income.2
data['Total_Income']=np.ceil(data['Income.1']+data['Income.2'])

In [116]:
#So we can see that Total Income column have been added to the dataframe
data

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2,Total_Income
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,46476.638081,529.000000,47006.0
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,54174.687948,720.000000,54895.0
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,USA,43467.240728,234.000000,43702.0
3,204.0,Graeme Croisier,9/29/2018,graeme.croisier@gmail.com,Male,Accenture,Canada,46784.630879,657.000000,47442.0
4,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,India,57486.495560,1947.000000,59434.0
5,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,43467.240728,952.000000,44420.0
6,207.0,Modesta Batterson,3/28/2018,modesta.batterson@gmail.com,Female,Intel,India,43467.240728,32.000000,43500.0
7,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,43467.240728,1901.000000,45369.0
8,209.0,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,USA,28602.435377,1197.222222,29800.0
9,210.0,Jim Carry,1/1/1970,jim.carry@gmail.com,Male,Amazone,USA,43467.240728,3652.000000,47120.0
10,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,47119.174780,920.000000,48040.0
11,212.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,India,43467.240728,1286.000000,44754.0
12,213.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,55804.925687,1197.222222,57003.0
13,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,44191.473128,46.000000,44238.0
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,43467.240728,568.000000,44036.0
15,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,44481.765191,1553.000000,46035.0
16,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,55719.962157,1013.000000,56733.0
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,33767.509995,1920.000000,35688.0
18,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,7101.351970,1952.000000,9054.0
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,43363.078707,1668.000000,45032.0

In [117]:
#Bringing all the Date of Birth in same format
data['DOB']=pd.to_datetime(data['DOB']).dt.date

In [118]:
#So we can see that we have converted the Date of Birth in one format
data

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2,Total_Income
0,201.0,Salim Pound,2018-02-12,spound0@spotify.com,Male,Google,India,46476.638081,529.000000,47006.0
1,202.0,Madelene Lutas,2018-09-20,mlutas1@si.edu,Female,Amazon,USA,54174.687948,720.000000,54895.0
2,203.0,Dolli Swanbourne,2018-11-18,dswanbourne2@istockphoto.com,Female,Intel,USA,43467.240728,234.000000,43702.0
3,204.0,Graeme Croisier,2018-09-29,graeme.croisier@gmail.com,Male,Accenture,Canada,46784.630879,657.000000,47442.0
4,205.0,Jillana Physic,2018-04-19,jphysic4@yellowbook.com,Female,Accenture,India,57486.495560,1947.000000,59434.0
5,206.0,Anetta Yokelman,2018-04-26,ayokelman5@berkeley.edu,Female,Intel,India,43467.240728,952.000000,44420.0
6,207.0,Modesta Batterson,2018-03-28,modesta.batterson@gmail.com,Female,Intel,India,43467.240728,32.000000,43500.0
7,208.0,Melina Boon,2017-12-18,mboon7@weibo.com,Male,Amazon,India,43467.240728,1901.000000,45369.0
8,209.0,Nomi Warn,2018-01-16,nwarn8@sogou.com,Female,Amazon,USA,28602.435377,1197.222222,29800.0
9,210.0,Jim Carry,1970-01-01,jim.carry@gmail.com,Male,Amazone,USA,43467.240728,3652.000000,47120.0
10,211.0,Charleen Auden,2018-04-15,caudena@nba.com,Female,Accenture,USA,47119.174780,920.000000,48040.0
11,212.0,Dame Povele,2018-06-26,dpoveleb@bloglovin.com,Male,Amazon,India,43467.240728,1286.000000,44754.0
12,213.0,Jesse Engelbrecht,2018-04-16,jengelbrechtc@google.ru,Female,Amazon,Canada,55804.925687,1197.222222,57003.0
13,214.0,Camey Barensen,2018-08-21,cbarensend@globo.com,Male,Google,Canada,44191.473128,46.000000,44238.0
14,215.0,Alexandro Sember,2018-04-08,asembere@ibm.com,Male,Google,Russia,43467.240728,568.000000,44036.0
15,216.0,Myrtia Towne,2018-02-14,mtownef@ifeng.com,Female,Google,India,44481.765191,1553.000000,46035.0
16,217.0,Shay Cakebread,2018-09-27,scakebreadg@webs.com,Male,Google,India,55719.962157,1013.000000,56733.0
17,218.0,Nerta McCutheon,2018-01-07,nmccutheonh@t.co,Female,Amazon,India,33767.509995,1920.000000,35688.0
18,219.0,Patin Mitchely,2018-05-21,pmitchelyi@tinypic.com,Male,Amazon,Russia,7101.351970,1952.000000,9054.0
19,220.0,Malinda Heistermann,2018-10-30,mheistermannj@list-manage.com,Female,Intel,Russia,43363.078707,1668.000000,45032.0

In [119]:
#Splitting up the Employee name into first name and last name
data['First Name'] = data['Employee Full Name'].str.split().str.get(0)
data['Last Name'] = data['Employee Full Name'].str.split().str.get(1)

In [121]:
#So we can see that WE have splitted the data into first name and last name
data

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2,Total_Income,First Name,Last Name
0,201.0,Salim Pound,2018-02-12,spound0@spotify.com,Male,Google,India,46476.638081,529.000000,47006.0,Salim,Pound
1,202.0,Madelene Lutas,2018-09-20,mlutas1@si.edu,Female,Amazon,USA,54174.687948,720.000000,54895.0,Madelene,Lutas
2,203.0,Dolli Swanbourne,2018-11-18,dswanbourne2@istockphoto.com,Female,Intel,USA,43467.240728,234.000000,43702.0,Dolli,Swanbourne
3,204.0,Graeme Croisier,2018-09-29,graeme.croisier@gmail.com,Male,Accenture,Canada,46784.630879,657.000000,47442.0,Graeme,Croisier
4,205.0,Jillana Physic,2018-04-19,jphysic4@yellowbook.com,Female,Accenture,India,57486.495560,1947.000000,59434.0,Jillana,Physic
5,206.0,Anetta Yokelman,2018-04-26,ayokelman5@berkeley.edu,Female,Intel,India,43467.240728,952.000000,44420.0,Anetta,Yokelman
6,207.0,Modesta Batterson,2018-03-28,modesta.batterson@gmail.com,Female,Intel,India,43467.240728,32.000000,43500.0,Modesta,Batterson
7,208.0,Melina Boon,2017-12-18,mboon7@weibo.com,Male,Amazon,India,43467.240728,1901.000000,45369.0,Melina,Boon
8,209.0,Nomi Warn,2018-01-16,nwarn8@sogou.com,Female,Amazon,USA,28602.435377,1197.222222,29800.0,Nomi,Warn
9,210.0,Jim Carry,1970-01-01,jim.carry@gmail.com,Male,Amazone,USA,43467.240728,3652.000000,47120.0,Jim,Carry
10,211.0,Charleen Auden,2018-04-15,caudena@nba.com,Female,Accenture,USA,47119.174780,920.000000,48040.0,Charleen,Auden
11,212.0,Dame Povele,2018-06-26,dpoveleb@bloglovin.com,Male,Amazon,India,43467.240728,1286.000000,44754.0,Dame,Povele
12,213.0,Jesse Engelbrecht,2018-04-16,jengelbrechtc@google.ru,Female,Amazon,Canada,55804.925687,1197.222222,57003.0,Jesse,Engelbrecht
13,214.0,Camey Barensen,2018-08-21,cbarensend@globo.com,Male,Google,Canada,44191.473128,46.000000,44238.0,Camey,Barensen
14,215.0,Alexandro Sember,2018-04-08,asembere@ibm.com,Male,Google,Russia,43467.240728,568.000000,44036.0,Alexandro,Sember
15,216.0,Myrtia Towne,2018-02-14,mtownef@ifeng.com,Female,Google,India,44481.765191,1553.000000,46035.0,Myrtia,Towne
16,217.0,Shay Cakebread,2018-09-27,scakebreadg@webs.com,Male,Google,India,55719.962157,1013.000000,56733.0,Shay,Cakebread
17,218.0,Nerta McCutheon,2018-01-07,nmccutheonh@t.co,Female,Amazon,India,33767.509995,1920.000000,35688.0,Nerta,McCutheon
18,219.0,Patin Mitchely,2018-05-21,pmitchelyi@tinypic.com,Male,Amazon,Russia,7101.351970,1952.000000,9054.0,Patin,Mitchely
19,220.0,Malinda Heistermann,2018-10-30,mheistermannj@list-manage.com,Female,Intel,Russia,43363.078707,1668.000000,45032.0,Malinda,Heistermann

In [126]:
#Dropping column Employee Full Name
data=data.drop(['Employee Full Name'],axis=1)

In [127]:
#So we can see that Employee Full Name column have been dropped
data

,id,DOB,email,gender,Company,Country,Income.1,Income.2,Total_Income,First Name,Last Name
0,201.0,2018-02-12,spound0@spotify.com,Male,Google,India,46476.638081,529.000000,47006.0,Salim,Pound
1,202.0,2018-09-20,mlutas1@si.edu,Female,Amazon,USA,54174.687948,720.000000,54895.0,Madelene,Lutas
2,203.0,2018-11-18,dswanbourne2@istockphoto.com,Female,Intel,USA,43467.240728,234.000000,43702.0,Dolli,Swanbourne
3,204.0,2018-09-29,graeme.croisier@gmail.com,Male,Accenture,Canada,46784.630879,657.000000,47442.0,Graeme,Croisier
4,205.0,2018-04-19,jphysic4@yellowbook.com,Female,Accenture,India,57486.495560,1947.000000,59434.0,Jillana,Physic
5,206.0,2018-04-26,ayokelman5@berkeley.edu,Female,Intel,India,43467.240728,952.000000,44420.0,Anetta,Yokelman
6,207.0,2018-03-28,modesta.batterson@gmail.com,Female,Intel,India,43467.240728,32.000000,43500.0,Modesta,Batterson
7,208.0,2017-12-18,mboon7@weibo.com,Male,Amazon,India,43467.240728,1901.000000,45369.0,Melina,Boon
8,209.0,2018-01-16,nwarn8@sogou.com,Female,Amazon,USA,28602.435377,1197.222222,29800.0,Nomi,Warn
9,210.0,1970-01-01,jim.carry@gmail.com,Male,Amazone,USA,43467.240728,3652.000000,47120.0,Jim,Carry
10,211.0,2018-04-15,caudena@nba.com,Female,Accenture,USA,47119.174780,920.000000,48040.0,Charleen,Auden
11,212.0,2018-06-26,dpoveleb@bloglovin.com,Male,Amazon,India,43467.240728,1286.000000,44754.0,Dame,Povele
12,213.0,2018-04-16,jengelbrechtc@google.ru,Female,Amazon,Canada,55804.925687,1197.222222,57003.0,Jesse,Engelbrecht
13,214.0,2018-08-21,cbarensend@globo.com,Male,Google,Canada,44191.473128,46.000000,44238.0,Camey,Barensen
14,215.0,2018-04-08,asembere@ibm.com,Male,Google,Russia,43467.240728,568.000000,44036.0,Alexandro,Sember
15,216.0,2018-02-14,mtownef@ifeng.com,Female,Google,India,44481.765191,1553.000000,46035.0,Myrtia,Towne
16,217.0,2018-09-27,scakebreadg@webs.com,Male,Google,India,55719.962157,1013.000000,56733.0,Shay,Cakebread
17,218.0,2018-01-07,nmccutheonh@t.co,Female,Amazon,India,33767.509995,1920.000000,35688.0,Nerta,McCutheon
18,219.0,2018-05-21,pmitchelyi@tinypic.com,Male,Amazon,Russia,7101.351970,1952.000000,9054.0,Patin,Mitchely
19,220.0,2018-10-30,mheistermannj@list-manage.com,Female,Intel,Russia,43363.078707,1668.000000,45032.0,Malinda,Heistermann

In [128]:
#Popping out the column first name
column_to_move=data.pop('First Name')

In [135]:
#Popping out the column last name
column_to_move1=data.pop('Last Name')

In [133]:
#Inserting it to position first
data.insert(1,'First Name',column_to_move)

In [136]:
#Inserting it to position second
data.insert(2,'Last Name',column_to_move1)

In [137]:
#So we can see that column first name and last name have been inserted in first and second postion
data

,id,First Name,Last Name,DOB,email,gender,Company,Country,Income.1,Income.2,Total_Income
0,201.0,Salim,Pound,2018-02-12,spound0@spotify.com,Male,Google,India,46476.638081,529.000000,47006.0
1,202.0,Madelene,Lutas,2018-09-20,mlutas1@si.edu,Female,Amazon,USA,54174.687948,720.000000,54895.0
2,203.0,Dolli,Swanbourne,2018-11-18,dswanbourne2@istockphoto.com,Female,Intel,USA,43467.240728,234.000000,43702.0
3,204.0,Graeme,Croisier,2018-09-29,graeme.croisier@gmail.com,Male,Accenture,Canada,46784.630879,657.000000,47442.0
4,205.0,Jillana,Physic,2018-04-19,jphysic4@yellowbook.com,Female,Accenture,India,57486.495560,1947.000000,59434.0
5,206.0,Anetta,Yokelman,2018-04-26,ayokelman5@berkeley.edu,Female,Intel,India,43467.240728,952.000000,44420.0
6,207.0,Modesta,Batterson,2018-03-28,modesta.batterson@gmail.com,Female,Intel,India,43467.240728,32.000000,43500.0
7,208.0,Melina,Boon,2017-12-18,mboon7@weibo.com,Male,Amazon,India,43467.240728,1901.000000,45369.0
8,209.0,Nomi,Warn,2018-01-16,nwarn8@sogou.com,Female,Amazon,USA,28602.435377,1197.222222,29800.0
9,210.0,Jim,Carry,1970-01-01,jim.carry@gmail.com,Male,Amazone,USA,43467.240728,3652.000000,47120.0
10,211.0,Charleen,Auden,2018-04-15,caudena@nba.com,Female,Accenture,USA,47119.174780,920.000000,48040.0
11,212.0,Dame,Povele,2018-06-26,dpoveleb@bloglovin.com,Male,Amazon,India,43467.240728,1286.000000,44754.0
12,213.0,Jesse,Engelbrecht,2018-04-16,jengelbrechtc@google.ru,Female,Amazon,Canada,55804.925687,1197.222222,57003.0
13,214.0,Camey,Barensen,2018-08-21,cbarensend@globo.com,Male,Google,Canada,44191.473128,46.000000,44238.0
14,215.0,Alexandro,Sember,2018-04-08,asembere@ibm.com,Male,Google,Russia,43467.240728,568.000000,44036.0
15,216.0,Myrtia,Towne,2018-02-14,mtownef@ifeng.com,Female,Google,India,44481.765191,1553.000000,46035.0
16,217.0,Shay,Cakebread,2018-09-27,scakebreadg@webs.com,Male,Google,India,55719.962157,1013.000000,56733.0
17,218.0,Nerta,McCutheon,2018-01-07,nmccutheonh@t.co,Female,Amazon,India,33767.509995,1920.000000,35688.0
18,219.0,Patin,Mitchely,2018-05-21,pmitchelyi@tinypic.com,Male,Amazon,Russia,7101.351970,1952.000000,9054.0
19,220.0,Malinda,Heistermann,2018-10-30,mheistermannj@list-manage.com,Female,Intel,Russia,43363.078707,1668.000000,45032.0

In [140]:
#Printing Country and Companywise average salary
Avearge_salary_by_company=data.groupby(['Country','Company'])['Total_Income'].mean()
Avearge_salary_by_company

Country  Company
Canada   Accenture    47442.000000
         Amazon       57003.000000
         Google       44238.000000
India    Accenture    59434.000000
         Amazon       41937.000000
         Google       49924.666667
         Intel        43960.000000
Russia   Amazon        9054.000000
         Google       44036.000000
         Intel        45032.000000
USA      Accenture    48040.000000
         Amazon       42347.500000
         Amazone      47120.000000
         Intel        43702.000000
Name: Total_Income, dtype: float64